body {
  font-family: sans-serif;
  background: #f5f5f4;
}

a {
  text-decoration: none;
}

label {
  display: block;
}
nav{
  display: inline-flex;
}

nav a {
  display: inline-block;
  /* margin: 1em; */
}
nav a:focus{
  margin: 15px 35px;
  font-size: .9em;
  color: #5a5959;
}

form div {
  margin: 1em;
  display: inline-block;
}


.container {
  display: block;
  position: relative;
  /* padding-left: 35px; */
   margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

/* Login / Sing Up Page   ------- >>>>> */
/* App.js */
.login-form{
  display: inline-block;
  height: 500px;
  width: 430px;
  margin-top: 40px;
  margin-left: 35%;
  margin-bottom: 90px;
  /* border: 1px solid; */
  box-shadow: 7px 9px 34px -6px #999;
}
.login, .sign-up{
  font-size: 2.2em;
  color: #5a5959;
}
.login-signup-text{
  text-align: center;
  margin-top: 70px;
  margin-left: 560px;
}
.form-fields{
  margin: 85px 0px 0px 18px;
}
.form-user-name{
  margin: 10px 0 10px 0;
}
input{
  width: 280px;
  height: 33px;
  background: #f5f5f4;
  border: none;
  border-bottom: 2px solid #a7a5a5;
  /* position: absolute;    
  margin: -810px 10px 30px 1252px; */
  /* margin: auto; */
  margin-left: 55px
}
small{
  margin-left: 60px;
  color: #a7a5a5;
}
.login-btn{
  width: 120px;
  height: 35px;
  margin: 65px 135px;
  border: none;
  font-size: 1.3em;
  color: #5a5959;
  background: #f5f5f4;
}
.google-login{
  margin: 0px 141px;
  color: black;
}
.select-field{
  width: 418px;
  margin: 80px 20px 35px 120px;
}






/* User Summary   ------- >>>>> */
.add-category{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  margin: -823px 10px 30px 1255px;
  background: #f5f5f4;
  border: none;
  box-shadow: 7px 9px 34px -6px #999;
  /* box-shadow: 11px 13px 18px -8px #999; */
}
.plus{
  font-size: 2.1em;
  margin: 26px 4px;
  color: #5a5959;
}
.category-name{
  margin-top: 590px;
  flex-wrap: wrap;
  width: 10px;
  height: 40px;
  margin-left: 650px;
}
.container-progress{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* margin-top: -10px;; */
  /* margin-top: -370px; */
  margin-top: -430px;
  margin-left: -499px;
}
.category-list{
  text-align: center;
  font-size: 2.3em;
  /* color: #782F4D; */
  color: #5a5959;
}
.summary-container{
  margin-top: 130px;
}
.progress-list{
  width: 350px;
}
.input-field{
  width: 280px;
  height: 33px;
  position: absolute;
  margin: -790px 10px 10px 886px;
}
.cat-input{
  border: none;
  background: #f5f5f4;
  border-bottom: 2px solid #a7a5a5;
}
.cat-add{
  border: none;
  background: #f5f5f4;
  font-size: .8em;
  margin: -40px 0px 10px -30px;
  color: #a7a5a5;
}






/* User Dashboard  --- UserHome.js   ------- >>>>>
*/
/* navbar */
.logout-btn{
  margin: 15px 1096px;
  color:  #5a5959; 
  float: right;
  font-size: .8em;
}
.main-page{
  /* display: flex; */
  display: block;
  padding: 16px;
  margin-top: 30px;
  height: 1500px;
}

/* .dash{
  margin: 10px 35px;
  font-size: 1.2em;
  color: #5a5959;
} */
.nav-links{
  margin: 15px 33px;
  font-size: .8em;
  color: #a7a5a5;
  padding-bottom: 25px;
}
.nav-links:hover{
  border-bottom: 2px solid #D9E3DB;
}






/* User Panel   ------- >>>>>  */
.user-panel{
  display: inline-flex;
  /* margin-left: 140px; */
  margin-left: 140px;
  margin-top: 30px;
}
/* border-left: thick solid #ff0000; */
.username, .level, .lives, .HP{
  border-right: 2px solid #c5c3c3;
}
.avatar, .username, .level, .lives, .HP, .XP{
  /* padding: 10px; */
  width: 180px;
  text-align: center;
  color: #5a5959
}
span{
  font-size: .7em;
  color: #a7a5a5;
}

 




/* Welcome */
.welcome{
  font-size: 2.5em;
  margin-left: 80px;
}
.arrow{
  margin-top: 30px;
  width: 60px;
}







/* Habits list      ------- >>>>> */
.habits-list{
  display: grid;
    /* border: 1px solid; */
    height: 30%;
    overflow: scroll;
    /* height: 20%; */
    width: 419px;
    background: white;
    margin: 20px 20px 35px 120px;
    box-shadow: 11px 13px 18px -8px #999;
}
.habits-label{
  text-align: center;
  font-size: 1.8em;
  margin: 42px 0px 20px 0px;
  color: #a7a5a5;
  /* color: #782F4D; */
}
.add-habit-btn{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  margin: -42px 10px -13px 337px;
  border: none;
  background: white;
  box-shadow: 7px 9px 34px -6px #999;
}
.plus{
  font-size: 2.1em;
  margin: 26px 4px;
}

.input-field-habit{
  width: 280px;
  height: 33px;
  position: absolute;
  margin: 83px 10px 10px 24px;
}
.habit-input{
  width: 230px;
  border: none;
  background: white;
  border-bottom: 2px solid #a7a5a5;
}

.habit-add{
  border: none;
  background: white;
  font-size: .8em;
  margin: -40px 10px -11px;
  color: #a7a5a5;
}
p{
  margin-left: 100px;
  margin-top: -29px;
  color: #5a5959;
  /* margin-left: -230px;
  margin-top: 010px; */
}
ul{
  margin: 31px 10px 20px -60px;
  list-style: none;
}

.delete-habit{
  width: 33px;
  height: 24px;
  margin-left: 18px;
  border: none;
  color: #a7a5a5;
  font-size: .7em;
  background: white;
}
.categ-name{
  text-align: center;
  color: #5a5959;

}



/* Progress bar   ------- >>>>> */
.total-progress{
  margin-top: 0px;
  margin-left: 50px;
  /* text-align: center; */
  width: 560px;
  color: #5a5959;
  font-size: 1.4em;
}
.progress-bar{
  width: 350px;
  margin-left: 791px;
  margin-top: -500px;
}






/* Group Page   ------- >>>>>  */

.group{
  text-align: center;
}


/* Personality  Page*/
.question{
  margin-left: 130px;
}

form div{
  margin: 0;
}

.submit-quiz{
  border: none;
  font-size: 1.2em;
}

/* Responsive    ------- >>>>> */
@media screen and (max-width:580px) {
  /* form */
  .login-form{
    width: 300px;
    height: 390px;
    margin-left: 40px;
    margin-top: 40px;
    border: 1px solid;
  }
  input{
    margin-left: 25px;
    border: 1px solid;
    width: 215px;

  }
  small{
    margin-left: 40px;
  }
  .login-btn {
    width: 120px;
    height: 35px;
    margin: 30px 75px;
    border: 1px solid;
  }
  nav{
    width: 96%;
  }
  .habits-list {
    width: 350px;
  }

  .category-list{
    text-align: center;
    font-size: 3.3em;
    color: #782F4D;
    width: 560px;
    margin-left: 120px;
  }
}

